/* styles/Home.module.css */
.main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.leftAlign {
  text-align: left;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
